.navbar{
    display: flex;
    justify-content: space-between;
    padding: 15px 80px;
    align-items: center;
    box-shadow: 0 1px rgb(205, 204, 204);
}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar ul li{
    list-style: none;
    margin-left: 25px;
    cursor: pointer;
}