.mainContainer{
    width: 95%;
    margin: auto;
    margin-top: 40px;
    justify-content: space-between;
    display: flex;
    margin-bottom: 20px;
}
.mainContainer .tech{
    width: 72%;
}
.techHeading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fontSize{
    font-size: 13px;
}
.latestNewsContainer{
    background-color: #fff;
}
.navbarForLatest{
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
}
.RightPartOfLatestNews{
    display: flex;
    gap: 5px;
    cursor: pointer;
    align-items: center;
}
.LeftPartOfLatestNews{
    display: flex;
    gap: 10px;
    align-items: center;
}
.LeftPartOfLatestNews p{
    font-size: 13px;
    font-weight: 700;
    color: rgb(107, 107, 107);
}
.fontColor{
    color: rgb(107, 107, 107);
}
.borderLef{
    border-left: 1px solid rgb(204, 202, 202);
    padding-left: 7px;
}
.containerForLatest{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.leftContainerForLatest{
    width: 65%;
    display: flex;
    gap: 10px;
    border-top: 1px solid rgb(195, 194, 194);
    padding-top: 20px;

}
.leftContainerLatest{
    width: 50%;
}
.leftC img{
    width: 100%;
    border-radius: 5px;
}
.leftC h3{
    color: #fff;
    margin-top: -80px;
    padding: 0 15px;
}
.leftSmallOf{
    display: flex;
    gap: 5px;
    border-bottom: 1px solid rgb(201, 200, 200);
    padding-bottom: 10px;
    padding-top: 10px;
}
.leftSmallOf img{
    width: 30%;
    border-radius: 5px;
}
.mt{
    margin-top: 10px;
}
.Flex{
    display: flex;
    gap: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.Flex img{
    border-radius: 5px;
}
.more{
    float: right;
    padding: 10px;
    color: rgb(76, 75, 75);
    padding-bottom: 20px;
}


.rightContainerLatest{
    width: 50%;
}
.firstReview{
    padding: 0 10px;
}
.firstReview .btn{
    border: none;
    padding: 3px 10px;
    border-radius: 12px;
    background-color: rgb(166, 165, 165);
    color: whitesmoke;
    font-weight: 800;
    cursor: pointer;
}
.reviewConta{
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 15px; 
}
.boredrB{
    border-bottom: 1px solid rgb(201, 200, 200);
    padding-bottom: 15px;
}
.reviewConta img{
    border-radius: 5px;
    cursor: pointer;
}
.mtop{
    margin-top: 10px;
}
.secondReview{
    margin-top: 60px;
    padding: 10px;
    text-align: justify;
}
.secondReview .btn{
    padding: 4px 30px;
    border: none;
    border-radius: 8px;
    background-color: rgb(166, 165, 165);
    color: whitesmoke;
    font-weight: 800;
    cursor: pointer;
    margin-bottom: 20px;
}
.FirstParagraph{
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.rightContainerForLatest{
    width: 32%;
    /* border: 1px solid teal; */
}
.serachAria{
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
    border-radius: 10px;
    background-color: #fff;
}
.serachAria input{
    border: none;
    padding: 10px;
    margin: 0 0 0 10px;
}
.mic{
    color: red;
    cursor: pointer;
}
.sear{
    cursor: pointer;
    color: gray;
}
.mobileArea{
    margin-top: 20px;
    padding: 10px;
}
.popularMob{
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(164, 162, 162);
    color: #fff;
    margin-top: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.MobileNameAndImage{
    margin-top: 10px;
    display: flex;
    /* align-items: center; */
    gap: 10px;
}
.mobileName p{
    margin-bottom: 5px;
    cursor: pointer;
}
.mtop{
    margin-top: -15px;
}
.Box{
    margin-top: -20px;
    background-color: rgb(247, 243, 243);
    border-radius: 5px;

}



.mainContainer .movies{
    width: 25%;
    height: 200px;
}

.ps1 img{
    width: 100%;
    height: 250px;
    border-radius: 5px;
}
.ps1 h3{
    padding: 0 20px;
    margin-top: -60px;
    color: #fff;
    font-weight: 800;
}.movieRevi{
    display: flex;
    gap: 10px;
    margin-top: 20px;

}
.mt1{
    margin-top: 40px;
}
.movieRevi div img{
    width: 100%;
    border-radius: 5px;
}
.movieRevi div h4{
    margin-top: -65px;
    font-size: 14px;
    padding: 0 2px;
    color: #fff;
    font-weight: 600;
}