.ICYMI_Container{
    width: 95%;
    margin: auto;
    margin-bottom: 30px;
}
.icymi_Div{
    display: flex;
    gap: 8px;
    text-align: center;
}
.icymi_Div img{
    width: 100%;
    height: 320px;
    border-radius: 5px;
    cursor: pointer;
}
.span{
    padding-bottom: 3px;
    color: #fff;
    display: flex;
    align-items: center;
}
span{
    background-color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}
.marginTop{
    margin-top: -130px;
}
.marginTop span{
    background-color: #f8c81c;
    cursor: pointer;
}
.marginTop h3{
    color: #fff;
    padding: 10px;
    cursor: pointer;
}