.OpinionContainer{
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.opinionDiv{
    width: 71.5%;
    background-color: #fff;
    border-radius: 5px;
    padding: 0 20px;
}
.opinionDiv .heading{

    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    
}
.heading h4,p{
    cursor: pointer;
    font-size: 15px;
}
.heading p{
    color: rgb(77, 76, 76);
}
.opinionDiv2{
    display: flex;
}
.opinionDiv2 .OpinionImageContainer{
    font-size: 15px;
}
.opinionImage{
    display: flex;
    gap: 10px;
}
.opinionImage p{
    cursor: pointer;
}
.opinionImage img{
    border-radius: 5px;
    cursor: pointer;
}
.writerName{
    text-align: center;
    padding: 10px 0;
    color: gray;
    font-weight: 500;
    cursor: pointer;
}
.borderLeft{
    border-left: 1px solid rgb(207, 206, 206);
    padding-left: 15px;
}
.borderBottom{
    border-bottom: 1px solid rgb(207, 206, 206);
}
.paddingTop{
    padding-top: 10px;
}
.paddinBottom{
    padding-bottom: 20px;
}
.sec{
    width: 33.3%;
}
.advertismnt{
    width: 27%;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
}
.advertismnt img{
    border-radius: 5px 5px 0 0;
    width: 100%;
    padding-bottom: 5px;
}